
# Disable redirects with trailing slashes when URLs match the directory paths
DirectorySlash Off





<IfModule mod_rewrite.c>

RewriteEngine On





## -/-/-/-/-/-/
## ~ CUSTOMERS
## -/-/-/-/-/-/
# Get customers by phone number
RewriteCond "%{REQUEST_METHOD}" GET
RewriteCond "%{QUERY_STRING}" (^|&)phoneNumber=
RewriteRule ^/?customers$ customers/get/by-phone-number/index.php [QSA,L,NC]
# Add new customers
RewriteCond "%{REQUEST_METHOD}" POST
RewriteRule ^/?customers/?$ customers/create/index.php [QSA,NC,L]
# Get a list of all the customer sources
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?customers/sources/?$ customers/sources/get/index.php [QSA,NC,L]



## -/-/-/-/-/-/
## ~ PROJECTS
## -/-/-/-/-/-/
# Get a list of all projects from all clients
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?projects/?$ projects/get/index.php [QSA,NC,L]



## -/-/-/-/-/-/
## ~ BACKEND USERS
## -/-/-/-/-/-/
# Get the role of a user ( given a role id )
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?backend-users/roles/([^/]*)$ backend-users/roles/get/index.php?roleId=$1 [QSA,NC,L]





</IfModule>
